.nb-tree-grid-cell .remove-padding {
    padding: 0 !important;
}

.nb-tree-grid-cell.grid-format{
    padding: 0 !important;
    text-align-last: center;
}

.column-header-format{
    text-align: center !important;
}