<div style="padding-top: 5rem; padding-bottom: 20rem; padding-right: 35rem; padding-left: 35rem; height: 100%; overflow: hidden; background: linear-gradient(96deg, #FFFFFF 50%, #00a94f calc(50% + 1px));">
    <div style="width: 100%; padding-bottom: 2rem;" >
        <div style="text-align: center; padding-left: 80px; padding-top: 30px;">
            <img style="width: 9rem; height: 9rem; padding: 10px;" src="../../../assets/plus/PLUS_Expressways_Logo.png">
            <img style="width: 18rem; height: 9rem;" src="../../../assets/plus/LLM-Logo-Vector-01.png">
        </div>
    </div>
    <div style="width: 100%;">
        <nb-card style="height: 100%;">
            <nb-card-header *ngIf="tenantFlag">Tenant Login</nb-card-header>
            <nb-card-header *ngIf="!tenantFlag">Admin Login</nb-card-header>
            <nb-card-body>
                <div style="padding-bottom: 1rem;">
                    <input type="email" nbInput fullWidth placeholder="Email" name="email"  required email />
                </div>
                <div style="padding-bottom: 1rem;">
                    <input type="password" nbInput fullWidth placeholder="Password" name="password"  required />
                </div>
                <div *ngIf="tenantFlag" style="padding-bottom: 10rem;">
                    <a (click)="notTenant()"> Not a Tenant? </a>
                </div>
                <div *ngIf="!tenantFlag" style="padding-bottom: 10rem;">
                    <a (click)="notTenant()"> Not an Admin? </a>
                </div>
                <div *ngIf="tenantFlag">
                    <button (click)="login()" status="primary" nbButton fullWidth>Login</button>
                </div>
                <div *ngIf="!tenantFlag">
                    <button (click)="loginAdmin()" status="primary" nbButton fullWidth>Login</button>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>