<div style="padding: 15px;" >
    <div class="card-row">
        <div class="card-col">
            <nb-card class="card">
                    <nb-card-header class="facility-stepper-card-header"><h5>Select your R&R Location</h5></nb-card-header>
                    <div>
                        <nb-select fullWidth placeholder="Select Facility" (selectedChange)="dropdownChange($event)">
                            <nb-option value="GNB">Gurun (North Bound)</nb-option>
                            <nb-option value="GSB">Gurun (South Bound)</nb-option>
                        </nb-select>
                    </div>
                </nb-card>
        </div>
    </div>
</div>





