.dropdown-step {
    padding-top: 1rem !important;
}

.dropdown-step .label-step{
    font-size: 13px !important;
}

.dropdown-button {
    text-align: right;
    padding-bottom: 1.5rem;
}

.card {
    padding: 1.5rem; 
    padding-bottom: 2.5rem;
}

nb-card-header.facility-stepper-card-header{
    padding: 0 !important;
    padding-bottom: 1rem !important;
}
  